<div class="wrapper">
  <div class="sidebar">
    <h2>Welcome {{ b.buyerName }}</h2>
      <ul>
        <li><a (click)="goHome()"><i class="glyphicon glyphicon-home space"></i>Home</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-user space"></i>Profile</a></li>
        <li><a><i class="glyphicon glyphicon-list-alt space"></i>My Orders</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-log-out space"></i>Sign Out</a></li>
      </ul>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>PROFILE INFORMATION</h2>
    </div>
    <div class="panel-body">
      <div class="col-lg-3 col-md-2"></div>
      <div *ngIf="b">
        <table class="t-container">
          <tr>
            <td class="td" style="padding-left: 2%;">ID:</td>
            <td class="td" style="padding-left: 4%;">{{b.buyerId}}</td>
          </tr>
          <tr>
            <td class="td" style="padding-left: 2%;">Name:</td>
            <td class="td" style="padding-left: 4%;">{{b.buyerName}}</td>
          </tr>
          <tr>
            <td class="td" style="padding-left: 2%;">Address:</td>
            <td class="td" style="padding-left: 4%;">{{b.address}}</td>
          </tr>
          <tr>
            <td class="td" style="padding-left: 2%;">Contact No.:</td>
            <td class="td" style="padding-left: 4%;">{{b.contact}}</td>
          </tr>
          <tr>
            <td class="td" style="padding-left: 2%;">Email:</td>
            <td class="td" style="padding-left: 4%;">{{b.emailAddr}}</td>
          </tr>
          <tr>
            <td class="td" style="padding-left: 2%;">Wallet:</td>
            <td class="td" style="padding-left: 4%;">{{b.walletBalance}}</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>
