
<div class="wrapper">
  <div class="sidebar">
    <h2>Welcome {{ s.supplierName }}</h2>
      <ul>
        <li><a (click)="goHome()"><i class="glyphicon glyphicon-home space"></i>Home</a></li>
        <li><a (click)="loadDetails()"><i class="glyphicon glyphicon-user space"></i>Profile</a></li>
        <li><a (click)="reloadData()"><i class="glyphicon glyphicon-list-alt space"></i>My Orders</a></li>
        <li><a (click)="showPendingOrders()"><i class="glyphicon glyphicon-tasks space"></i>Pending Orders</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-log-out space"></i>Sign Out</a></li>
      </ul>
  </div>
  <div class="panel panel-primary">
    <div class="panel-head">
      <h1 class="header-content">ORDER HISTORY</h1>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr id="head-row">
            <th>ID</th>
            <th>DATE</th>
            <th>AMOUNT</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let o of orders'>
            <td>{{ o.orderId }}</td>
            <td>{{ o.orderDate }}</td>
            <td>{{ o.orderAmt }}</td>
            <td>
              <button class="btn btn-warning"(click)="showOrderDetails(o.orderId, s.supplierId)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

