<div class="wrapper">
  <div class="sidebar">
    <h2>Welcome {{ b.buyerName }}</h2>
      <ul>
        <li><a (click)="goHome()"><i class="glyphicon glyphicon-home space"></i>Home</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-user space"></i>Profile</a></li>
        <li><a><i class="glyphicon glyphicon-list-alt space"></i>My Orders</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-log-out space"></i>Sign Out</a></li>
      </ul>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="header-content">INVOICE</h2>
    </div>
    <div class="panel-body">
      <div class="col-lg-3 col-md-2"></div>
      <div *ngIf="item">
        <table class="t-container">

        </table>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>
