<div class="wrapper">
  <div class="sidebar">
    <h2>Welcome {{ b.buyerName }}</h2>
      <ul>
        <li><a (click)="goHome()"><i class="glyphicon glyphicon-home space"></i>Home</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-user space"></i>Profile</a></li>
        <li><a><i class="glyphicon glyphicon-list-alt space"></i>My Orders</a></li>
        <li><a href="#"><i class="glyphicon glyphicon-log-out space"></i>Sign Out</a></li>
      </ul>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="header-content">PROFILE INFORMATION</h2>
    </div>
    <div class="panel-body">
      <div class="col-lg-3 col-md-2"></div>
      <div *ngIf="item">
        <table class="t-container">
          <tr>
            <td class="td-1" style="padding-left: 2%;">#</td>
            <td class="td" style="padding-left: 4%;">{{item.itemId}}</td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Description:</td>
            <td class="td" style="padding-left: 4%;">{{item.itemName}}</td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Price:</td>
            <td class="td" style="padding-left: 4%;">
              <app-inline-edit [(ngModel)]="item.price" type="text" name="iprice" #iprice="ngModel"></app-inline-edit>
            </td>
            <td><a (click)="updatePrice(iprice.value)"><i class="glyphicon glyphicon-pencil"></i></a></td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Supplier Name:</td>
            <td class="td" style="padding-left: 4%;">{{s.supplierName}}</td>
          </tr>
          <tr>
            <td class="td-1" style="padding-left: 2%;">Category:</td>
            <td class="td" style="padding-left: 4%;">{{item.itemCategory}}</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-3 col-md-2"></div>
    </div>
  </div>
</div>



